.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 39%;
  gap: 20px 40px;
  width: 100%;
  padding: 30px 40px;
  cursor: auto;
  grid-auto-rows: auto 20px auto;
}

.top {
  grid-column: 2 span;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 40px;
  font-size: 48px;
  font-weight: 900;
}

.title {
  color: var(--text-color);
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.close_btn {
  position: absolute;
  top: 45px;
  right: 45px;
}

.close_btn:hover svg path {
  fill: var(--hint-color);
  transition: fill 0.2s ease;
}

.close_btn svg path {
  transition: fill 0.2s ease;
}

.text {
  font-weight: 300;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
}

.date {
  display: flex;
  color: var(--hint-color);
  font-weight: 300;
  height: min-content;
}

.date::first-letter {
  text-transform: uppercase;
}

.descr {
  font-size: 22px;
  line-height: 1.18;
}

.wrapper {
  position: relative;
}

.img {
  border-radius: 12px;
}

.date {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.text {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.icon {
  position: absolute;
  top: 14px;
  right: 14px;
}

.wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

@media all and (max-width: 1440px) {

  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows: auto;
  }

  .top {
    grid-column: auto;
  }

  .date,
  .text,
  .wrapper {
    grid-column: auto;
    grid-row: auto;
  }

  .descr {
    font-size: 20px;
  }

  .wrapper {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@media all and (max-width: 768px) {
  .content { 
    padding: 20px;
  }
  .title {
    font-size: 36px;
  }

  .close_btn {
    top: 30px;
    right: 25px;
  }
}

@media all and (max-width: 576px) {

  .content {
    gap: 10px;
    padding: 0;
    padding-bottom: 15px;
  }

  .wrapper {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .img {
    border-radius: var(--border-radius);
  }
  

  .close_btn {
    z-index: 10;
    top: 20px;
    right: 15px;
  }

  .close_icon path {
    fill: var(--white-color);
  }

  .icon {
    top: auto;
    bottom: 14px;
  }

  .title,
  .date,
  .text {
    padding: 0 20px;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
  }

  .descr {
    font-size: 14px;
  }

  .date {
    font-size: 12px;
    color: var(--shark);
  }
}