.dropdown {
  position: relative;
}

.dropdown__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 20px;
  cursor: pointer;
  height: 60px;
}

.dropdown__content {
  position: absolute;
  top: 105%;
  width: 100%;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  height: 305px;
  overflow-y: scroll;
  z-index: 100;
}

.dropdown__content::-webkit-scrollbar {
  width: 8px;
}

.dropdown__content::-webkit-scrollbar-track {
  background: var(--body-color);
  border-radius: var(--border-radius);
}

.dropdown__content::-webkit-scrollbar-thumb {
  background: var(--gradient-primary);
  border-radius: var(--border-radius);
}

.dropdown__item {
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active__option {
  height: 21px;
  margin-right: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.dropdown__item:hover {
  background-color: var(--hint-color);
}

.rotateArrow {
  transform: rotate(180deg);
  transition: transform 0.1s ease;
}

.arrow {
  transition: transform 0.1s ease;
}

@media all and (max-width: 576px) {
  .dropdown__btn {
    min-height: auto;
    height: 40px;
    padding: 0 10px;
  }

  .dropdown__btn> :not(:last-child) {
    margin-right: 10px;
  }
}