.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.logo__background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius);
  background: var(--gradient-primary);
  margin-right: 18px;
}

.title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  color: var(--text-color);
  text-shadow: var(--shadow);
}