.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.logo {
  margin-right: 120px;
}

.group {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: auto;
}

.button__icon {
  margin-right: 10px;
}

.input {
  width: 550px;
  margin-right: 20px;
  height: 60px;
}

.button__text {
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--text-color);
}

@media all and (max-width: 1440px) {
  .header {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .logo {
    margin-right: auto;
  }

  .group {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .input {
    width: 100%;
  }

  .button {
    display: flex;
    justify-content: end;
  }
}

@media all and (max-width: 576px) {
  .header {
    gap: 20px;
    margin-bottom: 20px;
  }

  .button {
    padding: 10px;
  }

  .button__text {
    display: none;
  }

  .input {
    height: 40px;
  }

  .group {
    gap: 10px;
  }

  .button__icon {
    width: 20px;
    height: 20px;
    margin-right: 0;
  }
}