.textarea {
  font-family: 'Roboto', sans-serif;
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  min-height: 400px;
  overflow: hidden;
  padding: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  transition: height 0.5s ease;
}

textarea::placeholder {
  color: var(--hint-color);
}

@media (max-width: 576px) {
  .textarea {
    padding: 12px;
    font-size: 14px;
    min-height: 240px;
  }

  .textarea::placeholder {
    font-size: 12px;
  }
}