.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.search_wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  height: max-content;
}

.search_svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  grid-auto-rows: 240px;
  gap: 20px;
}

@media (max-width: 576px) {

  .input {
    height: 40px;
    padding: 12px;
    font-size: 14px;
    font-weight: 300;
  }

  .search {
    padding: 8px;
    height: 40px;
    width: 40px;
  }
}