.emoji {
  font-size: 18px;
  font-weight: 900;
}

.emoji.bigSize {
  font-size: 48px;
  font-weight: 900;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--white-color);
  opacity: 0.8;
  backdrop-filter: blur(5px);
}

.wrapper.bigSize {
  width: 100px;
  height: 100px;
}

@media all and (max-width: 576px) {

  .emoji.bigSize {
    font-size: 18px;
  }

  .wrapper.bigSize {
    width: 40px;
    height: 40px;
  }
}